*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* sezione titolo e campo di inserimento */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 200px;
    margin-bottom: 20px;  
    margin-top: 20px;
}

input, 
button{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
}
.input-section input{
    min-width: 250px;
    margin-right: 10px;
}
button,
.cross-awesome{
    cursor: pointer;
}

/* sezione con la ul e i li */
.list-box{
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f7f7;
}


li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    list-style: none;
}