<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo list</title>
    </head>

    <body>

        <!-- VUE -->
        <div id="root">

            <div class="header">
                <img src="img/logo-bool.png" alt="">
                <div class="input-section">
                    <input type="text" placeholder="Nuovo Todo" v-model="testo" v-on:keyup.enter="addTodo()">
                    <button v-on:click="addTodo()">Aggiungi</button>
                </div>
            </div>

            <!-- container della UL -->
            <div class="list-box">
                <!-- unordered list -->
                <ul class="list-u">
                    <!-- LI generati con VUE dinamicamente -->
                    <li v-for="(content, index) in ulContent">
                        <div>
                            <i class="fas fa-code"></i>
                            <span>{{ content }}</span>
                        </div>
                        <span class="cross-awesome" v-on:click="removeTodo(index)">
                            <i class="fas fa-times"></i>
                        </span>
                    </li>

                </ul>
            </div>
        </div>

        <script src="js/script.js"></script>
    </body>

</html>